<!DOCTYPE html>
{% extends "firstapp/base.html"%}
{% block body_block %}
<div class="jumbotron" align="center">
 <h1><strong>WELCOME TO <strong>"HEMALATHA"</strong> NEET AND EAMCET ONLINE EXAMS<strong><h1><hr>
  <div id='raju1'><h2><b>INSTRUCTIONS AND BENEFITS</b><h2></div>
   <div id="raj"> <strong> <ul>
      <p>ALL OF YOU FIRST SINGUP MY WEBSITE<p>
      <p>IF YOU WANT TO WRITE NEET EXAM, JUST CLICK ===>NEET </p>
      <p>IF YOU WANT TO WRITE EAMCET EXAM, JUST CLICK ===> EAMCET</p>
      <p>I HOPE!!! YOU ARE GETTING MORE KNOWLEDGE FORM THIS WEBSITE</p>
      <p>DON'T &nbsp FORGET &nbsp ME&nbsp THIS&nbsp IS&nbsp YOUR&nbsp&nbsp <div id='raju'><marquee style="border:black 6px SOLID" behavior="alternate">HEMALATHA PULICHERLA&nbsp&nbsp&nbsp<sub>Bio-Tech</sub></marquee></p>
</p>
    </ul><strong></div>



</div>

{%endblock%}
